<%- include('./partials/header') %>


<main class="container my-5 py-5 text-center">
    <h1>Contato</h1>
    <div class="alert alert-success">
        <h4>Obrigado pelo contato, <%= nome %></h4>
        <p>Recebemos sua mensagem e vammos procurar você em breve. </p>            
    </div>
</main>

<%- include('./partials/footer') %>