<%- include('./partials/header') %>


<main class="container my-5 py-5 text-center">
    <h1>Newsletter</h1>
    <div class="alert alert-success">
        <h4>Olá, <%= nome %></h4>
        <p>Recebemos seu cadastro! Agora você vai receber todas as atualizações por e-mail =D </p>            
    </div>
</main>

<%- include('./partials/footer') %>