<%- include('./partials/header') %>

<main>
    <div class="container my-5 jumbotron">
        <div class="d-flex justify-content-center border-bottom mb-4">
            <h1>404!</h1>
        </div>

        <div>
            <h2>Acho que você se perdeu!</h2>
            <p>Página não encontrada.</p>
        </div>

        <div class="d-flex justify-content-center">
            <a class="btn btn-danger" href="/">Voltar</a>
        </div>
    </div>
</main>

<%- include('./partials/footer') %>